# .gitattributes based on template from GitHub
# https://docs.github.com/en/get-started/getting-started-with-git/configuring-git-to-handle-line-endings#example

# Set the default behavior, in case people don't have core.autocrlf set.
* text=auto

# Declare files that will always have LF line endings on checkout.
*.php text eol=lf
*.js text eol=lf
*.css text eol=lf
*.html text eol=lf
